.table {
  width: 800px;
  margin: 0 auto;
}
.table thead {
  background-color: brown;
  color: white;
}
form input[type="submit"] {
  color: blue;
  background: none;
  border: none;
}
form input[type="submit"]:hover {
  cursor: pointer;
  text-decoration: underline;
}