.oculto {
  display: none;
}
.responses {
  margin-top: 20px;
}
.opcion {
  border: 1px solid gainsboro;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.addOption {
  margin-bottom: 20px;
}
.overviewTable tbody {
  font-size: 80%;
}
.generalForm {
  width: 450px;
}